In [2]:
import pandas as pd
df_books = pd.read_csv('pandas_numpy/bestsellers.csv')

In [4]:
df_books.groupby('Author').count()

                            Name  User Rating  Reviews  Price  Year  Genre
Author
Abraham Verghese               2            2        2      2     2      2
Adam Gasiewski                 1            1        1      1     1      1
Adam Mansbach                  1            1        1      1     1      1
Adir Levy                      1            1        1      1     1      1
Admiral William H. McRaven     1            1        1      1     1      1
...                          ...          ...      ...    ...   ...    ...
Walter Isaacson                3            3        3      3     3      3
William Davis                  2            2        2      2     2      2
William P. Young               2            2        2      2     2      2
Wizards RPG Team               3            3        3      3     3      3
Zhi Gang Sha                   2            2        2      2     2      2

[248 rows x 6 columns]

In [6]:
df_books.groupby('Author').sum().loc['Walter Isaacson']

User Rating       13.7
Reviews        18668.0
Price             61.0
Year            6040.0
Name: Walter Isaacson, dtype: float64

In [7]:
df_books.groupby('Author').sum().reset_index()

                         Author  User Rating  Reviews  Price  Year
0              Abraham Verghese          9.2     9732     22  4021
1                Adam Gasiewski          4.4     3113      6  2017
2                 Adam Mansbach          4.8     9568      9  2011
3                     Adir Levy          4.8     8170     13  2019
4    Admiral William H. McRaven          4.7    10199     11  2017
..                          ...          ...      ...    ...   ...
243             Walter Isaacson         13.7    18668     61  6040
244               William Davis          8.8    14994     12  4025
245            William P. Young          9.2    39440     16  4026
246            Wizards RPG Team         14.4    50970     81  6054
247                Zhi Gang Sha          9.2      257     23  4022

[248 rows x 5 columns]

In [9]:
df_books.groupby('Year').agg(['min', 'max']).reset_index()

    Year                                               Name  \
                                                        min
0   2009  Act Like a Lady, Think Like a Man: What Men Re...
1   2010  A Patriot's History of the United States: From...
2   2011                                  11/22/63: A Novel
3   2012  Barefoot Contessa Foolproof: Recipes You Can T...
4   2013                                          Allegiant
5   2014  A Game of Thrones / A Clash of Kings / A Storm...
6   2015  Adult Coloring Book: Stress Relieving Animal D...
7   2016                      10-Day Green Smoothie Cleanse
8   2017                             1984 (Signet Classics)
9   2018            12 Rules for Life: An Antidote to Chaos
10  2019  5,000 Awesome Facts (About Everything!) (Natio...

                                                       \
                                                  max
0                           Where the Wild Things Are
1   Women Food and God: An Unexpected Path to Almo...
2                What to Expect When You're Expecting
3   Winter of the World: Book Two of the Century T...
4                                              Wonder
5                                              Wonder
6                                              Wonder
7   You Are a Badass: How to Stop Doubting Your Gr...
8   You Are a Badass: How to Stop Doubting Your Gr...
9   You Are a Badass: How to Stop Doubting Your Gr...
10  You Are a Badass: How to Stop Doubting Your Gr...

                                Author                   User Rating       \
                                   min               max         min  max
0                           Alan Moore      Zhi Gang Sha         4.0  4.8
1                     Abraham Verghese        Tony Hsieh         4.0  4.8
2                     Abraham Verghese   Walter Isaacson         4.0  4.9
3   American Psychological Association     William Davis         3.3  4.9
4                          Allie Brosh      Zhi Gang Sha         3.8  4.9
5                       Alice Schertle     Veronica Roth         3.9  4.9
6   American Psychological Association      Thug Kitchen         3.6  4.9
7          Adult Coloring Book Designs      Thug Kitchen         4.0  4.9
8                       Adam Gasiewski  Wizards RPG Team         4.0  4.9
9   American Psychological Association  Wizards RPG Team         4.2  4.9
10                           Adir Levy  Wizards RPG Team         4.3  4.9

   Reviews        Price         Genre
       min    max   min  max      min          max
0       37  19720     1   82  Fiction  Non Fiction
1      408  32122     0   46  Fiction  Non Fiction
2      637  32122     0   46  Fiction  Non Fiction
3     1201  57271     5   46  Fiction  Non Fiction
4      220  57271     0  105  Fiction  Non Fiction
5      978  57271     0  105  Fiction  Non Fiction
6     1873  79446     0   46  Fiction  Non Fiction
7      807  79446     0   54  Fiction  Non Fiction
8     1831  29442     0   46  Fiction  Non Fiction
9     2507  61133     2   46  Fiction  Non Fiction
10    2744  87841     4   27  Fiction  Non Fiction